ZeroPay AI Project Planner.json
{
  "name": "ZeroPay AI Project Planner",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zeropay-project-planner",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "15455743-360a-46c7-976d-9bc033bc3fe5",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        400
      ],
      "webhookId": "4a474ec1-6f39-44eb-88c0-e315451e4a50"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.projectDescription }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.body.budget }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "36cd2ec2-45b2-46d4-91c0-652bcdf500fc",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        400
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.0-flash-exp"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior technical project manager.\n\nGenerate a comprehensive project plan for the following:\n\nProject Description: {{ $json.body.projectDescription }}\nBudget: ${{ $json.body.budget }}\nClient ID: {{ $json.body.clientId }}\nMerchant ID: {{ $json.body.merchantId }}\n\nGenerate:\n* project scope\n* milestones (array with name, deliverables, budget allocation)\n* tasks (array with name, milestone, estimated hours)\n* acceptance criteria\n* risks (array with description, mitigation)\n* timeline (optimistic, realistic, conservative in days)\n* escrow structure (array with milestone, percentage, release condition)\n\nReturn ONLY valid JSON. No markdown, no code blocks, just the JSON object."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.3
        }
      },
      "id": "a7d67d69-7582-40f7-b473-7b52d9aa5fff",
      "name": "Gemini Planning Agent",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        688,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  try {\n    let planData;\n    \n    // Parse the Gemini response\n    if (item.json.message && item.json.message.content) {\n      const content = item.json.message.content;\n      // Remove markdown code blocks if present\n      const cleanContent = content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim();\n      planData = JSON.parse(cleanContent);\n    } else {\n      throw new Error('Invalid response structure from Gemini');\n    }\n    \n    // Validate required fields\n    const requiredFields = ['projectScope', 'milestones', 'tasks', 'acceptanceCriteria', 'risks', 'timeline', 'escrowStructure'];\n    const missingFields = requiredFields.filter(field => !planData[field]);\n    \n    if (missingFields.length > 0) {\n      throw new Error(`Missing required fields: ${missingFields.join(', ')}`);\n    }\n    \n    // Validate array fields\n    if (!Array.isArray(planData.milestones) || planData.milestones.length === 0) {\n      throw new Error('milestones must be a non-empty array');\n    }\n    if (!Array.isArray(planData.tasks) || planData.tasks.length === 0) {\n      throw new Error('tasks must be a non-empty array');\n    }\n    if (!Array.isArray(planData.escrowStructure) || planData.escrowStructure.length === 0) {\n      throw new Error('escrowStructure must be a non-empty array');\n    }\n    \n    // Validate timeline structure\n    if (!planData.timeline.optimistic || !planData.timeline.realistic || !planData.timeline.conservative) {\n      throw new Error('timeline must contain optimistic, realistic, and conservative estimates');\n    }\n    \n    result.push({\n      json: {\n        valid: true,\n        planData: planData,\n        originalInput: $('Webhook Trigger').first().json.body\n      }\n    });\n  } catch (error) {\n    result.push({\n      json: {\n        valid: false,\n        error: error.message,\n        originalInput: $('Webhook Trigger').first().json.body\n      }\n    });\n  }\n}\n\nreturn result;"
      },
      "id": "7691b04f-043b-403a-8798-aa263c4ac48c",
      "name": "Validate JSON Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "99f7ecfd-a9b1-4854-8ae9-933835163967",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1616,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Your API endpoint (e.g., https://api.zeropay.com/api/v1/project-plans)__>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"projectPlan\": $json.projectPlan, \"executionId\": $execution.id, \"workflowVersion\": \"3.0-intelligence-pipeline\" } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a792b416-53dc-4b28-b248-fb2a801526e1",
      "name": "Store Project Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5520,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Your logging endpoint (e.g., https://api.zeropay.com/api/v1/logs)__>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"executionId\": $execution.id, \"workflowId\": $workflow.id, \"workflowName\": $workflow.name, \"timestamp\": $now.toISO(), \"clientId\": $json.telemetryData.clientId, \"merchantId\": $json.telemetryData.merchantId, \"planVersion\": $json.projectPlan.version, \"planningConfidence\": $json.projectPlan.planningConfidence, \"telemetry\": $json.telemetryData, \"status\": \"success\" } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a63b9042-0b67-4d6b-9fed-f8d312f1867f",
      "name": "Log Execution Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6192,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"projectPlan\": $json.projectPlan, \"telemetry\": $json.telemetryData } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d6e58037-b756-4b72-98c2-5cf3233ba16a",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        6416,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Invalid JSON\", \"message\": $json.error } }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "68c13999-5542-4c61-8d20-c9493bbe99c6",
      "name": "Invalid JSON Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1904,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Validation failed\", \"message\": \"projectDescription and budget are required\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "f39ca79e-4549-49c9-8113-706b7cd26b1e",
      "name": "Validation Failed Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        496
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.0-flash-exp"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior technical project manager.\n\nGenerate a comprehensive project plan for the following:\n\nProject Description: {{ $(\"Webhook Trigger\").item.json.body.projectDescription }}\nBudget: ${{ $(\"Webhook Trigger\").item.json.body.budget }}\nClient ID: {{ $(\"Webhook Trigger\").item.json.body.clientId }}\nMerchant ID: {{ $(\"Webhook Trigger\").item.json.body.merchantId }}\n\nGenerate:\n* project scope\n* milestones (array with name, deliverables, budget allocation)\n* tasks (array with name, milestone, estimated hours)\n* acceptance criteria\n* risks (array with description, mitigation)\n* timeline (optimistic, realistic, conservative in days)\n* escrow structure (array with milestone, percentage, release condition)\n\nReturn ONLY valid JSON. No markdown, no code blocks, just the JSON object."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.3
        }
      },
      "id": "187b2878-fd61-480b-8048-b2741986e171",
      "name": "Retry Gemini Request",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1040,
        384
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.0-flash-exp"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a technical requirements analyst.\n\nAnalyze the following project plan and break down requirements into atomic, testable units:\n\nProject Scope: {{ $json.planData.projectScope }}\nMilestones: {{ JSON.stringify($json.planData.milestones) }}\nTasks: {{ JSON.stringify($json.planData.tasks) }}\n\nGenerate:\n* functionalRequirements (array with id, description, priority, testable)\n* technicalRequirements (array with id, description, category)\n* dependencies (array with requirementId, dependsOn)\n* estimatedComplexity (low/medium/high/critical)\n\nReturn ONLY valid JSON."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.2
        }
      },
      "id": "8cd14895-ae97-41c1-9b4f-2facb7ef5303",
      "name": "Requirement Breakdown Agent",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1840,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst planData = $(\"Check Validation\").first().json.planData;\nconst requirementsData = $(\"Requirement Breakdown Agent\").first().json.message?.content ? JSON.parse($(\"Requirement Breakdown Agent\").first().json.message.content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim()) : {};\nconst complexityData = item.json.message?.content ? JSON.parse(item.json.message.content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim()) : {};\n\nconst milestones = planData.milestones.map((milestone, index) => {\n  const milestoneId = `MS-${Date.now()}-${String(index + 1).padStart(3, \"0\")}`;\n  return {\n    ...milestone,\n    milestoneId: milestoneId,\n    status: \"pending\",\n    createdAt: new Date().toISOString()\n  };\n});\n\nreturn [{\n  json: {\n    planData: planData,\n    requirementsBreakdown: requirementsData,\n    complexityEstimate: complexityData,\n    milestones: milestones\n  }\n}];"
      },
      "id": "fd9b364e-b1b6-40d6-8a99-139ffacb3be1",
      "name": "Milestone ID Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        208
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.0-flash-exp"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a project task planner.\n\nGenerate detailed tasks for each milestone:\n\nMilestones: {{ JSON.stringify($json.milestones) }}\nRequirements: {{ JSON.stringify($json.requirementsBreakdown) }}\nComplexity Estimate: {{ JSON.stringify($json.complexityEstimate) }}\n\nGenerate:\n* tasks (array with taskId, milestoneId, name, description, estimatedHours, priority, assignable, dependencies)\n* totalEstimatedHours\n* criticalPath (array of taskIds)\n\nReturn ONLY valid JSON."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.2
        }
      },
      "id": "dad654bd-98bc-4e82-b917-6e48f04db5f1",
      "name": "Task Generator",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        2768,
        208
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.0-flash-exp"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a risk management specialist.\n\nAnalyze project risks:\n\nProject Scope: {{ $(\"Milestone ID Generator\").item.json.planData.projectScope }}\nTasks: {{ $json.message.content }}\nComplexity Estimate: {{ JSON.stringify($(\"Milestone ID Generator\").item.json.complexityEstimate) }}\nBudget: ${{ $(\"Webhook Trigger\").item.json.body.budget }}\n\nGenerate:\n* riskFactors (array with riskId, category, description, probability, impact, severity, mitigation, contingency)\n* overallRiskScore (0-100)\n* recommendedContingencyBudget (percentage)\n\nReturn ONLY valid JSON."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.3
        }
      },
      "id": "cfed3f51-3d42-4c1d-a86c-95c07c118805",
      "name": "Risk Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        3120,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const milestones = $(\"Milestone ID Generator\").first().json.milestones;\nconst planData = $(\"Milestone ID Generator\").first().json.planData;\nconst complexityEstimate = $(\"Milestone ID Generator\").first().json.complexityEstimate;\nconst totalBudget = $(\"Webhook Trigger\").first().json.body.budget;\nconst riskData = $input.first().json.message?.content ? JSON.parse($input.first().json.message.content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim()) : {};\n\nconst totalAllocated = planData.milestones.reduce((sum, m) => sum + (m.budgetAllocation || 0), 0);\n\nconst escrowStructure = milestones.map((milestone, index) => {\n  const proportion = (planData.milestones[index].budgetAllocation || 0) / totalAllocated;\n  const allocatedBudget = Math.round(totalBudget * proportion);\n  \n  return {\n    milestoneId: milestone.milestoneId,\n    milestoneName: milestone.name,\n    escrowAmount: allocatedBudget,\n    releaseConditions: milestone.deliverables || [],\n    approvalRequired: true,\n    disputeEscalationDays: 7,\n    autoReleaseEnabled: false\n  };\n});\n\nconst finalTotal = escrowStructure.reduce((sum, e) => sum + e.escrowAmount, 0);\nif (finalTotal !== totalBudget) {\n  escrowStructure[escrowStructure.length - 1].escrowAmount += (totalBudget - finalTotal);\n}\n\nreturn [{\n  json: {\n    planData: planData,\n    milestones: milestones,\n    complexityEstimate: complexityEstimate,\n    riskFactors: riskData,\n    escrowStructure: escrowStructure,\n    totalBudget: totalBudget\n  }\n}];"
      },
      "id": "f058c298-7346-4367-b1ec-91f28a297b31",
      "name": "Escrow Structure Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        208
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.0-flash-exp"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a code audit specialist.\n\nGenerate GitHub audit requirements for this project:\n\nProject Scope: {{ $(\"Escrow Structure Generator\").item.json.planData.projectScope }}\nMilestones: {{ JSON.stringify($(\"Escrow Structure Generator\").item.json.milestones) }}\nTraceability Records: {{ JSON.stringify($json.traceabilityRecords) }}\n\nGenerate:\n* auditCheckpoints (array with milestoneId, checkpointName, requiredFiles, codeQualityMetrics, securityChecks, testCoverageMin)\n* repositoryRequirements (branch protection, PR reviews, CI/CD)\n* complianceStandards (array of standards to follow)\n\nReturn ONLY valid JSON."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.2
        }
      },
      "id": "2d82dc4b-ea2a-4524-acb7-b4347f9daa4f",
      "name": "GitHub Audit Requirement Generator",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        4144,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const escrowData = $(\"Escrow Structure Generator\").first().json;\nconst requirementsData = $(\"Milestone ID Generator\").first().json.requirementsBreakdown;\nconst complexityEstimate = $(\"Milestone ID Generator\").first().json.complexityEstimate;\nconst tasksData = $(\"Task Generator\").first().json.message?.content ? JSON.parse($(\"Task Generator\").first().json.message.content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim()) : {};\nconst githubAuditData = $(\"GitHub Audit Requirement Generator\").first().json.message?.content ? JSON.parse($(\"GitHub Audit Requirement Generator\").first().json.message.content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim()) : {};\nconst scopeChangeData = $(\"Scope Change Analyzer Agent\").first().json.message?.content ? JSON.parse($(\"Scope Change Analyzer Agent\").first().json.message.content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim()) : {};\nconst traceabilityRecords = $(\"Store Traceability MongoDB\").first().json.traceabilityRecords || [];\nconst originalInput = $(\"Webhook Trigger\").first().json.body;\nconst timeline = escrowData.planData.timeline;\n\nconst today = new Date();\nconst optimisticDate = new Date(today);\noptimisticDate.setDate(optimisticDate.getDate() + timeline.optimistic);\nconst realisticDate = new Date(today);\nrealisticDate.setDate(realisticDate.getDate() + timeline.realistic);\nconst conservativeDate = new Date(today);\nconservativeDate.setDate(conservativeDate.getDate() + timeline.conservative);\n\nconst version = `v${Date.now()}`;\nconst planningConfidence = Math.min(95, Math.max(60, 100 - (escrowData.riskFactors.overallRiskScore || 0) * 0.4));\n\nconst projectPlan = {\n  version: version,\n  createdAt: today.toISOString(),\n  clientId: originalInput.clientId,\n  merchantId: originalInput.merchantId,\n  projectDescription: originalInput.projectDescription,\n  projectScope: escrowData.planData.projectScope,\n  requirementsBreakdown: requirementsData,\n  complexityEstimate: complexityEstimate,\n  requirementTraceability: traceabilityRecords,\n  milestones: escrowData.milestones,\n  tasks: tasksData.tasks || [],\n  criticalPath: tasksData.criticalPath || [],\n  totalEstimatedHours: tasksData.totalEstimatedHours || 0,\n  riskFactors: escrowData.riskFactors,\n  escrowStructure: escrowData.escrowStructure,\n  githubAuditRequirements: githubAuditData,\n  scopeChangeAnalysis: scopeChangeData,\n  acceptanceCriteria: escrowData.planData.acceptanceCriteria,\n  timeline: {\n    ...timeline,\n    optimisticDelivery: optimisticDate.toISOString().split('T')[0],\n    realisticDelivery: realisticDate.toISOString().split('T')[0],\n    conservativeDelivery: conservativeDate.toISOString().split('T')[0],\n    startDate: today.toISOString().split('T')[0]\n  },\n  budgetAllocation: {\n    totalBudget: escrowData.totalBudget,\n    milestoneAllocations: escrowData.escrowStructure,\n    contingencyRecommended: escrowData.riskFactors.recommendedContingencyBudget || 10\n  },\n  planningConfidence: planningConfidence,\n  status: \"draft\"\n};\n\nreturn [{\n  json: {\n    projectPlan: projectPlan,\n    originalInput: originalInput\n  }\n}];"
      },
      "id": "f8225ef0-b95d-4f93-9cdc-c80c8557ece8",
      "name": "Plan Version Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        208
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-pro-002"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior software engineering estimator.\n\nAnalyze the following project requirements and calculate complexity metrics:\n\nProject Scope: {{ $json.planData.projectScope }}\nRequirements Breakdown: {{ $input.first().json.message.content }}\nBudget: ${{ $(\"Webhook Trigger\").item.json.body.budget }}\n\nCalculate:\n* complexityScore (1-100, where 100 is most complex)\n* storyPoints (total estimated story points)\n* estimatedHours (total engineering hours)\n* estimatedMilestones (recommended number of milestones)\n* riskLevel (low/medium/high/critical)\n* reasoning (brief explanation of complexity assessment)\n\nReturn ONLY valid JSON in this exact format:\n{\n  \"complexityScore\": 0,\n  \"storyPoints\": 0,\n  \"estimatedHours\": 0,\n  \"estimatedMilestones\": 0,\n  \"riskLevel\": \"\",\n  \"reasoning\": \"\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.2
        }
      },
      "id": "4e23b6a0-7f97-4ac9-b6b7-b7bc92e9bec8",
      "name": "Complexity Estimator Agent",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        2192,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const requirementsData = $(\"Milestone ID Generator\").first().json.requirementsBreakdown;\nconst milestones = $input.first().json.milestones;\nconst tasksData = $(\"Task Generator\").first().json.message?.content ? JSON.parse($(\"Task Generator\").first().json.message.content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim()) : { tasks: [] };\n\nconst traceabilityRecords = [];\nlet reqCounter = 1;\n\nif (requirementsData.functionalRequirements) {\n  requirementsData.functionalRequirements.forEach(req => {\n    const requirementId = `REQ-${String(reqCounter).padStart(3, \"0\")}`;\n    reqCounter++;\n    \n    const relatedMilestones = milestones.filter(m => \n      req.description && m.name && m.name.toLowerCase().includes(req.description.toLowerCase().split(' ')[0])\n    ).map(m => m.milestoneId);\n    \n    const relatedTasks = tasksData.tasks.filter(t => \n      relatedMilestones.includes(t.milestoneId)\n    ).map(t => t.taskId);\n    \n    traceabilityRecords.push({\n      requirementId: requirementId,\n      requirement: req.description,\n      requirementType: \"functional\",\n      priority: req.priority,\n      milestoneIds: relatedMilestones,\n      taskIds: relatedTasks,\n      githubAuditRequirements: [],\n      verificationStatus: \"pending\",\n      createdAt: new Date().toISOString()\n    });\n  });\n}\n\nif (requirementsData.technicalRequirements) {\n  requirementsData.technicalRequirements.forEach(req => {\n    const requirementId = `REQ-${String(reqCounter).padStart(3, \"0\")}`;\n    reqCounter++;\n    \n    traceabilityRecords.push({\n      requirementId: requirementId,\n      requirement: req.description,\n      requirementType: \"technical\",\n      category: req.category,\n      milestoneIds: [],\n      taskIds: [],\n      githubAuditRequirements: [],\n      verificationStatus: \"pending\",\n      createdAt: new Date().toISOString()\n    });\n  });\n}\n\nreturn [{\n  json: {\n    traceabilityRecords: traceabilityRecords,\n    escrowData: $input.first().json\n  }\n}];"
      },
      "id": "6227a2e5-d197-44c3-887f-b3abd557482b",
      "name": "Generate Requirement Traceability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3696,
        208
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "requirement_traceability",
        "fields": "={{ JSON.stringify($json.traceabilityRecords) }}",
        "options": {}
      },
      "id": "5ff30e3d-2faf-4f96-939b-a976a57f4a3e",
      "name": "Store Traceability MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        3920,
        208
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-pro-002"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a project scope change analyst.\n\nAnalyze scope changes for this project:\n\nClient ID: {{ $(\"Webhook Trigger\").item.json.body.clientId }}\nMerchant ID: {{ $(\"Webhook Trigger\").item.json.body.merchantId }}\nCurrent Requirements: {{ $(\"Store Traceability MongoDB\").item.json.traceabilityRecords ? JSON.stringify($(\"Store Traceability MongoDB\").item.json.traceabilityRecords) : \"[]\" }}\nGitHub Audit Data: {{ $json.message.content }}\n\nQuery the previous project version from MongoDB and compare:\n* Identify added requirements\n* Identify removed requirements\n* Identify modified requirements\n* Calculate impacted milestones\n* Estimate additional engineering hours\n* Assess timeline impact\n* Assess escrow impact\n* Calculate risk delta\n\nReturn ONLY valid JSON in this exact format:\n{\n  \"version\": \"\",\n  \"addedRequirements\": [],\n  \"removedRequirements\": [],\n  \"modifiedRequirements\": [],\n  \"impactedMilestones\": [],\n  \"additionalHours\": 0,\n  \"timelineImpact\": \"\",\n  \"escrowImpact\": \"\",\n  \"riskDelta\": \"\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.2
        }
      },
      "id": "bd8185ea-2b68-43db-8b46-246167cc41eb",
      "name": "Scope Change Analyzer Agent",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        4496,
        208
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "scope_changes",
        "fields": "={{ $json.message.content }}",
        "options": {}
      },
      "id": "5b29f189-cb77-4a34-98f9-163345ba4c8c",
      "name": "Store Scope Change MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        4848,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "startTime",
              "name": "executionStartTime",
              "value": "={{ $now.toMillis() }}",
              "type": "number"
            },
            {
              "id": "projectPlan",
              "name": "projectPlan",
              "value": "={{ $json.projectPlan }}",
              "type": "object"
            },
            {
              "id": "originalInput",
              "name": "originalInput",
              "value": "={{ $json.originalInput }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "45d5e3b5-a941-4ff2-9755-8e8f7cba45ca",
      "name": "Capture Execution Start Time",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5296,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst executionStartTime = item.json.executionStartTime;\nconst executionEndTime = new Date().getTime();\nconst durationMs = executionEndTime - executionStartTime;\n\nconst projectPlan = item.json.projectPlan;\nconst originalInput = item.json.originalInput;\n\nconst telemetryData = {\n  projectId: `${originalInput.clientId}-${originalInput.merchantId}-${Date.now()}`,\n  workflowName: \"ProjectPlanner\",\n  status: \"success\",\n  durationMs: durationMs,\n  tokensUsed: 0,\n  generatedMilestones: projectPlan.milestones?.length || 0,\n  generatedTasks: projectPlan.tasks?.length || 0,\n  generatedRequirements: projectPlan.requirementTraceability?.length || 0,\n  complexityScore: projectPlan.complexityEstimate?.complexityScore || 0,\n  riskScore: projectPlan.riskFactors?.overallRiskScore || 0,\n  planningConfidence: projectPlan.planningConfidence || 0,\n  failureReason: \"\",\n  timestamp: new Date().toISOString(),\n  workflowVersion: \"3.0-intelligence-pipeline\",\n  executionId: $execution.id,\n  clientId: originalInput.clientId,\n  merchantId: originalInput.merchantId\n};\n\nreturn [{\n  json: {\n    telemetryData: telemetryData,\n    projectPlan: projectPlan,\n    originalInput: originalInput\n  }\n}];"
      },
      "id": "a19b4597-04ca-430e-a828-93bff0216080",
      "name": "Calculate Execution Telemetry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5744,
        208
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "workflow_executions",
        "fields": "={{ JSON.stringify($json.telemetryData) }}",
        "options": {}
      },
      "id": "d08914e4-d576-4a25-999e-152bdb373958",
      "name": "Store Telemetry MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        5968,
        208
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-pro-002"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior software engineering estimator.\n\nAnalyze the following project requirements and calculate complexity metrics:\n\nProject Scope: {{ $(\"Check Validation\").item.json.planData.projectScope }}\nRequirements Breakdown: {{ $input.first().json.message.content }}\nBudget: ${{ $(\"Webhook Trigger\").item.json.body.budget }}\n\nCalculate:\n* complexityScore (1-100, where 100 is most complex)\n* storyPoints (total estimated story points)\n* estimatedHours (total engineering hours)\n* estimatedMilestones (recommended number of milestones)\n* riskLevel (low/medium/high/critical)\n* reasoning (brief explanation of complexity assessment)\n\nReturn ONLY valid JSON in this exact format:\n{\n  \"complexityScore\": 0,\n  \"storyPoints\": 0,\n  \"estimatedHours\": 0,\n  \"estimatedMilestones\": 0,\n  \"riskLevel\": \"\",\n  \"reasoning\": \"\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.2
        }
      },
      "id": "4e23b6a0-7f97-4ac9-b6b7-b7bc92e9bec8",
      "name": "Complexity Estimator Agent2",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        2064,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const requirementsData = $(\"Milestone ID Generator\").first().json.requirementsBreakdown;\nconst milestones = $input.first().json.milestones;\nconst tasksData = $(\"Task Generator\").first().json.message?.content ? JSON.parse($(\"Task Generator\").first().json.message.content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim()) : { tasks: [] };\n\nconst traceabilityRecords = [];\nlet reqCounter = 1;\n\nif (requirementsData.functionalRequirements) {\n  requirementsData.functionalRequirements.forEach(req => {\n    const requirementId = `REQ-${String(reqCounter).padStart(3, \"0\")}`;\n    reqCounter++;\n    \n    const relatedMilestones = milestones.filter(m => \n      req.description && m.name && m.name.toLowerCase().includes(req.description.toLowerCase().split(' ')[0])\n    ).map(m => m.milestoneId);\n    \n    const relatedTasks = tasksData.tasks.filter(t => \n      relatedMilestones.includes(t.milestoneId)\n    ).map(t => t.taskId);\n    \n    traceabilityRecords.push({\n      requirementId: requirementId,\n      requirement: req.description,\n      requirementType: \"functional\",\n      priority: req.priority,\n      milestoneIds: relatedMilestones,\n      taskIds: relatedTasks,\n      githubAuditRequirements: [],\n      verificationStatus: \"pending\",\n      createdAt: new Date().toISOString()\n    });\n  });\n}\n\nif (requirementsData.technicalRequirements) {\n  requirementsData.technicalRequirements.forEach(req => {\n    const requirementId = `REQ-${String(reqCounter).padStart(3, \"0\")}`;\n    reqCounter++;\n    \n    traceabilityRecords.push({\n      requirementId: requirementId,\n      requirement: req.description,\n      requirementType: \"technical\",\n      category: req.category,\n      milestoneIds: [],\n      taskIds: [],\n      githubAuditRequirements: [],\n      verificationStatus: \"pending\",\n      createdAt: new Date().toISOString()\n    });\n  });\n}\n\nreturn [{\n  json: {\n    traceabilityRecords: traceabilityRecords,\n    escrowData: $input.first().json\n  }\n}];"
      },
      "id": "6227a2e5-d197-44c3-887f-b3abd557482b",
      "name": "Generate Requirement Traceability2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        208
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "requirement_traceability",
        "fields": "={{ JSON.stringify($json.traceabilityRecords) }}",
        "options": {}
      },
      "id": "5ff30e3d-2faf-4f96-939b-a976a57f4a3e",
      "name": "Store Traceability MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        3408,
        208
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-pro-002"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a project scope change analyst.\n\nAnalyze scope changes for this project:\n\nClient ID: {{ $(\"Webhook Trigger\").item.json.body.clientId }}\nMerchant ID: {{ $(\"Webhook Trigger\").item.json.body.merchantId }}\nCurrent Requirements: {{ $(\"Store Traceability MongoDB\").item.json.traceabilityRecords ? JSON.stringify($(\"Store Traceability MongoDB\").item.json.traceabilityRecords) : \"[]\" }}\nGitHub Audit Data: {{ $json.message.content }}\n\nQuery the previous project version from MongoDB and compare:\n* Identify added requirements\n* Identify removed requirements\n* Identify modified requirements\n* Calculate impacted milestones\n* Estimate additional engineering hours\n* Assess timeline impact\n* Assess escrow impact\n* Calculate risk delta\n\nReturn ONLY valid JSON in this exact format:\n{\n  \"version\": \"\",\n  \"addedRequirements\": [],\n  \"removedRequirements\": [],\n  \"modifiedRequirements\": [],\n  \"impactedMilestones\": [],\n  \"additionalHours\": 0,\n  \"timelineImpact\": \"\",\n  \"escrowImpact\": \"\",\n  \"riskDelta\": \"\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.2
        }
      },
      "id": "bd8185ea-2b68-43db-8b46-246167cc41eb",
      "name": "Scope Change Analyzer Agent1",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        3856,
        208
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "scope_changes",
        "fields": "={{ $json.message.content }}",
        "options": {}
      },
      "id": "5b29f189-cb77-4a34-98f9-163345ba4c8c",
      "name": "Store Scope Change MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        4080,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "startTime",
              "name": "executionStartTime",
              "value": "={{ $now.toMillis() }}",
              "type": "number"
            },
            {
              "id": "projectPlan",
              "name": "projectPlan",
              "value": "={{ $json.projectPlan }}",
              "type": "object"
            },
            {
              "id": "originalInput",
              "name": "originalInput",
              "value": "={{ $json.originalInput }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "45d5e3b5-a941-4ff2-9755-8e8f7cba45ca",
      "name": "Capture Execution Start Time1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4528,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst executionStartTime = item.json.executionStartTime;\nconst executionEndTime = new Date().getTime();\nconst durationMs = executionEndTime - executionStartTime;\n\nconst projectPlan = item.json.projectPlan;\nconst originalInput = item.json.originalInput;\n\nconst telemetryData = {\n  projectId: `${originalInput.clientId}-${originalInput.merchantId}-${Date.now()}`,\n  workflowName: \"ProjectPlanner\",\n  status: \"success\",\n  durationMs: durationMs,\n  tokensUsed: 0,\n  generatedMilestones: projectPlan.milestones?.length || 0,\n  generatedTasks: projectPlan.tasks?.length || 0,\n  generatedRequirements: projectPlan.requirementTraceability?.length || 0,\n  complexityScore: projectPlan.complexityEstimate?.complexityScore || 0,\n  riskScore: projectPlan.riskFactors?.overallRiskScore || 0,\n  planningConfidence: projectPlan.planningConfidence || 0,\n  failureReason: \"\",\n  timestamp: new Date().toISOString(),\n  workflowVersion: \"3.0-intelligence-pipeline\",\n  executionId: $execution.id,\n  clientId: originalInput.clientId,\n  merchantId: originalInput.merchantId\n};\n\nreturn [{\n  json: {\n    telemetryData: telemetryData,\n    projectPlan: projectPlan,\n    originalInput: originalInput\n  }\n}];"
      },
      "id": "a19b4597-04ca-430e-a828-93bff0216080",
      "name": "Calculate Execution Telemetry1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        208
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "workflow_executions",
        "fields": "={{ JSON.stringify($json.telemetryData) }}",
        "options": {}
      },
      "id": "d08914e4-d576-4a25-999e-152bdb373958",
      "name": "Store Telemetry MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        5200,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Gemini Planning Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Planning Agent": {
      "main": [
        [
          {
            "node": "Validate JSON Schema",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Gemini Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate JSON Schema": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Requirement Breakdown Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Project Plan": {
      "main": [
        [
          {
            "node": "Calculate Execution Telemetry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution Metadata": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Gemini Request": {
      "main": [
        [
          {
            "node": "Validate JSON Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requirement Breakdown Agent": {
      "main": [
        [
          {
            "node": "Complexity Estimator Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Milestone ID Generator": {
      "main": [
        [
          {
            "node": "Task Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Generator": {
      "main": [
        [
          {
            "node": "Risk Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Analysis Agent": {
      "main": [
        [
          {
            "node": "Escrow Structure Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escrow Structure Generator": {
      "main": [
        [
          {
            "node": "Generate Requirement Traceability2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Audit Requirement Generator": {
      "main": [
        [
          {
            "node": "Scope Change Analyzer Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Version Manager": {
      "main": [
        [
          {
            "node": "Capture Execution Start Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complexity Estimator Agent2": {
      "main": [
        [
          {
            "node": "Milestone ID Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Requirement Traceability2": {
      "main": [
        [
          {
            "node": "Store Traceability MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Traceability MongoDB1": {
      "main": [
        [
          {
            "node": "GitHub Audit Requirement Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scope Change Analyzer Agent1": {
      "main": [
        [
          {
            "node": "Store Scope Change MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Scope Change MongoDB1": {
      "main": [
        [
          {
            "node": "Plan Version Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Execution Start Time1": {
      "main": [
        [
          {
            "node": "Store Project Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Execution Telemetry1": {
      "main": [
        [
          {
            "node": "Store Telemetry MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Telemetry MongoDB1": {
      "main": [
        [
          {
            "node": "Log Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "da4293c4-5aec-4820-ab8d-00477785016f",
  "meta": {
    "instanceId": "03771ad22c229f3de86da4bdf8cef55608271fba29f40703318a1f1192871dca"
  },
  "nodeGroups": [],
  "id": "fWEilmSsIdbzfWuJ",
  "tags": []
}