workflows/github-audit-v1.json
{
  "name": "ZeroPay GitHub Milestone Audit Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zeropay-github-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-node-id-100",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        400
      ],
      "webhookId": "github-audit-webhook-uuid-9999"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.projectPlanId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.body.milestoneId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "validate-audit-input-id-101",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.WORKFLOW_API_BASE_URL }}/projects/plan/{{ $json.body.projectPlanId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "fetch-project-plan-node-id-102",
      "name": "Fetch Project Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKFLOW_API_BASE_URL }}/github/audit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"projectPlanId\": $(\"Webhook Trigger\").first().json.body.projectPlanId, \"milestoneId\": $(\"Webhook Trigger\").first().json.body.milestoneId } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "trigger-backend-audit-id-103",
      "name": "Trigger Backend Audit Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"audit\": $json.data } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "audit-success-response-id-104",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Validation Failed\", \"message\": \"projectPlanId and milestoneId are required parameters\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "audit-bad-input-response-id-105",
      "name": "Bad Input Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        680,
        500
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Fetch Project Plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bad Input Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Project Plan": {
      "main": [
        [
          {
            "node": "Trigger Backend Audit Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Backend Audit Agent": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eb7293a4-9da2-4ac8-b223-92a1147cc00f",
  "meta": {
    "instanceId": "instance-uuid-github-audit"
  },
  "id": "github-audit-v1-workflow-id"
}
